<div *ngIf="!displayFilterField" class="powerbarTitle">{{powerbarTitle | translate}}</div>
<div class="powerbars--search" *ngIf="displayFilterField">
  <form (keydown.enter)="$event.preventDefault()">
    <mat-form-field class="powerbars-search-field">
      <input #searchText type="text" autocomplete="off" placeholder="{{powerbarTitle | translate}}" matInput class="powerbars-search-input" (keyup)="onKeyUp(searchText.value)" name="search">
    </mat-form-field>
  </form>
</div>
<div class="powerbars--wrapper" [ngClass]="customizedCssClass">
  <div class="powerbars--container">
    <div *ngIf="selectedPowerbarsList.size !== 0" class="powerbars--selectedbars">
      <div  *ngFor="let selectedPowerbar of selectedPowerbarsList" class="powerbars__powerbar powerbars__powerbar--{{selectedPowerbar.classSuffix}}"
        (click)="clickOnPowerbar(selectedPowerbar)">
        <span *ngIf="!useColorService" matTooltip="{{selectedPowerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'" class="powerbar__powerbar--term powerbar__powerbar--term--selected powerbar__powerbar--term--selected--{{selectedPowerbar.term}}">{{selectedPowerbar.term | translate}}</span>
        <div *ngIf="!useColorService" class="powerbar__powerbar--progression--{{selectedPowerbar.classSuffix}} {{selectedPowerbar.term}}"
          [style.width]="selectedPowerbar.progression+'%'" matTooltip="{{selectedPowerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'">
        </div>
        <div *ngIf="!useColorService" class="rightband-{{selectedPowerbar.classSuffix}}"></div>

        <div *ngIf="useColorService" class="powerbar__powerbar--progression--{{selectedPowerbar.classSuffix}} {{selectedPowerbar.term}}"
          [style.width]="selectedPowerbar.progression+'%'" [style.background-color]="selectedPowerbar.color" [style.border-color]="selectedPowerbar.color" matTooltip="{{selectedPowerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'">
          <span class="powerbar__powerbar--term powerbar__powerbar--term--selected--{{selectedPowerbar.term}}">{{selectedPowerbar.term | translate}}</span>
        </div>
      </div>
    </div>
    <div *ngFor="let powerbar of powerBarsList" (click)="clickOnPowerbar(powerbar)">
      <div *ngIf="!powerbar.isSelected" class="powerbars__powerbar powerbars__powerbar--{{powerbar.classSuffix}}">
        <span *ngIf="!useColorService" matTooltip="{{powerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'" class="powerbar__powerbar--term powerbar__powerbar--term--{{powerbar.term}}">{{powerbar.term | translate}}</span>
        <div *ngIf="!useColorService" class="powerbar__powerbar--progression--{{powerbar.classSuffix}} {{powerbar.term}}"
          [style.width]="powerbar.progression+'%'" matTooltip="{{powerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'">
        </div>
        <div *ngIf="!useColorService" class="rightband-{{powerbar.classSuffix}}"></div>
        <div *ngIf="useColorService" class="powerbar__powerbar--progression--{{powerbar.classSuffix}} {{powerbar.term}}"
          [style.width]="powerbar.progression+'%'" [style.background-color]="powerbar.color" [style.border-color]="powerbar.color" matTooltip="{{powerbar.count | formatNumber:NUMBER_FORMAT_CHAR}}" [matTooltipPosition]="'after'">
          <span class="powerbar__powerbar--term powerbar__powerbar--term--{{powerbar.term}}">{{powerbar.term | translate}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
