
.powerbars--wrapper {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(194, 194, 194);
  border-radius: 1px;
}

.powerbars--container {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 3px;
  padding-top:0;
}

.powerbars__powerbar--neutral-state, /*public*/ /*Sets all powerbars containers when none of them is selected. A powerbar container's width is 100% of the component's container.*/
.powerbars__powerbar--selected-bar, /*public*/ /*Sets selected powerbars containers. A powerbar container's width is 100% of the component's container.*/
.powerbars__powerbar--unselected-bar /*public*/ /*Sets unselected powerbars containers. A powerbar container's width is 100% of the component's container.*/
{
  margin-top: 3px;
}

.powerbars__powerbar--neutral-state:hover, .powerbars__powerbar--selected-bar:hover,
.powerbars__powerbar--unselected-bar:hover {
  opacity: .8;
  cursor: pointer;
}

.powerbar__powerbar--progression--neutral-state, /*public*/ /*Style of all powerbars when none of them is selected.*/
.powerbar__powerbar--progression--selected-bar, /*public*/ /*Style of selected powerbars.*/
.powerbar__powerbar--progression--unselected-bar /*public*/ /*Style of unselected powerbars.*/
{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.75em;
}

.powerbar__powerbar--term /*public*/ /*Style of terms.*/
{
  padding-left: 3px;
  white-space: nowrap;
}

.powerbar__powerbar--progression--neutral-state {
  background-color: rgb(158, 240, 253);
}

.powerbar__powerbar--progression--selected-bar {
  background-color: rgb(135, 230, 245);
}

.powerbar__powerbar--progression--unselected-bar {
  background-color: rgb(230, 230, 230);
}

.powerbar__powerbar--progression--selected-bar{
  background-color: rgb(74, 114, 19);
  color: white;
  font-weight: bold;
}

.powerbars__powerbar--selected-bar {
  background-color: rgb(124, 124, 124);

}

.powerbars--selectedbars {
  padding-bottom: 2px;
  border-bottom: 1px solid rgb(209, 209, 209);
}


::-webkit-scrollbar
{
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #555;
}
