<div class="powerbars--wrapper" [ngClass]="customizedCssClass">
      <div class="powerbars--container">
          <div *ngIf="selectedPowerbarsList.size !== 0" class="powerbars--selectedbars">
              <div *ngFor="let selectedPowerbar of selectedPowerbarsList" class="powerbars__powerbar--{{selectedPowerbar.classSuffix}}" (click)="clickOnPowerbar(selectedPowerbar)">
                  <div class="powerbar__powerbar--progression--{{selectedPowerbar.classSuffix}}"[style.width]="selectedPowerbar.progression+'%'" matTooltip="{{selectedPowerbar.count}}" [matTooltipPosition]="'after'">
                        <span class="powerbar__powerbar--term">{{selectedPowerbar.term}}</span>
                  </div>
              </div>
          </div>
          <div *ngFor="let powerbar of powerBarsList" class="powerbars__powerbar--{{powerbar.classSuffix}}" (click)="clickOnPowerbar(powerbar)">
              <div *ngIf="!powerbar.isSelected" class="powerbar__powerbar--progression--{{powerbar.classSuffix}}"[style.width]="powerbar.progression+'%'" matTooltip="{{powerbar.count}}" [matTooltipPosition]="'after'">
                  <span class="powerbar__powerbar--term">{{powerbar.term}}</span>
              </div>
          </div>
      </div>
</div>
