.resultgrid__img {
  overflow-y: auto;
  overflow-x: auto;
  text-align: center;
  vertical-align: middle;
}

.resultgrid {
  width:100%;
  height:100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-align: left;
  vertical-align: middle;
}

.resultgrid--container {
  width:100%;
  height:100%;
  position: relative
}

.resultgrid__info-button /* @doc Sets both show-details and show-image buttons style.*/
{
  position: absolute;
  top: 5px;
  right: 0px;
  background-color: transparent;
}
.resultgrid__info-show-button{
  top: 5px;
  right: 20px;
  background-color: #607D8B;
  width: 25px;
  height: 25px;
}
.resultgrid__info-close-button{
  top: 5px;
  right: 20px;
  background-color: #607D8B;
  width: 25px;
  height: 25px;
}

::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
	background-color: white;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: white;
}

::-webkit-scrollbar-thumb
{
	background-color: #555;
}

.resultgrid__info_outline{
  line-height: 7px;
  font-size: 19px;
}
.resultgrid__close{
  line-height: 8px;
  font-size: 19px;
}
.resultgrid__image{
  line-height: 7px;
  font-size: 19px;
}
