.resultgrid__img {
  overflow-y: auto;
  overflow-x: auto;
  text-align: center;
  vertical-align: middle;
}

.resultgrid {
  width:100%;
  height:100%;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  text-align: left;
  vertical-align: middle;
}

.resultgrid--container {
  width:100%;
  height:100%;
  position: relative
}

.resultgrid__info-button /*public*/ /*Sets both show-details and show-image buttons style.*/
{
  background-color: #043b53;
  position: absolute;
  top: 5px;
  right: 20px;
}



::-webkit-scrollbar
{
	width: 6px;
  height: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #555;
}
