<div class="polygon-tools" *ngIf="this.drawEnabled">
  <button mat-raised-button (click)="switchToDrawMode('draw_strip',{halfSwath:7,maxLength:100})">STRIP</button>

  <button mat-raised-button (click)="switchToDrawMode('draw_radius_circle',{isFixedRadius:true,initialRadiusInKm:1000})">CIRCLE</button>
  <button mat-raised-button (click)="switchToDrawMode()">DRAW</button>
  <button mat-raised-button (click)="delete()">DELETE</button>
  <button mat-raised-button class="polygon-button" [disabled]="actionDisabled" (click)="getWKT()">WKT</button>
  <button mat-raised-button class="polygon-button" [disabled]="actionDisabled" (click)="getGeojson()">Geojson</button>
  <mat-radio-group [(ngModel)]="modeChoice" class="polygon-radio-group">
    <mat-radio-button class="polygon-radio" value="all">All</mat-radio-button>
    <mat-radio-button class="polygon-radio" value="selected">Selected</mat-radio-button>
    <mat-radio-button class="polygon-radio" value="id">By id</mat-radio-button>
  </mat-radio-group>
  <input type="number" class="polygon-input" [(ngModel)]="idToSelect" *ngIf="this.modeChoice === 'id'">
</div>
<div class="mapgl-options">
  <button mat-icon-button (click)="mapImportComponent.openDialog()" class="mapgl-import-button">
    <mat-icon aria-label="Import polygon on your map">get_app</mat-icon>
  </button>
  <button mat-icon-button (click)="openSettings()" class="mapgl-settings-button">
    <mat-icon aria-label="Map settings">layers</mat-icon>
  </button>
</div>
<div id="mapgldemo" style="height:94%; width:100%">
  <arlas-mapgl-import #demoImportMap [mapComponent]="mapComponent" [maxFeatures]="1000" [maxVertexByPolygon]="5" [maxLoadingTime]="10000"
    [maxFileSize]="1050000" [allowedImportType]="['wkt', 'shp', 'kml', 'geojson']">
  </arlas-mapgl-import>
  <arlas-mapgl-settings #mapSettings>

  </arlas-mapgl-settings>
  <arlas-mapgl #demoMap [defaultBasemapStyle]="defaultBasemapStyle" [basemapStyles]="basemapStyles"
    [margePanForLoad]=40 [margePanForTest]=2 [mapLayers]="mapLayers"
    [displayScale]=true [displayCurrentCoordinates]=true [minZoom]=1 [maxZoom]=28 (onPolygonChange)="polygonChange($event)"
    (onPolygonSelect)="polygonSelect($event)" [drawOption]="drawOptions" [drawData]="drawData" [drawButtonEnabled]="true"
    [drawPolygonVerticesLimit]="5" [transformRequest]="transformRequest" (onAoiChanged)="onAoiChanged($event)"
    [visualisationSetsConfig]="visualisationSets" [visibilityUpdater]="visibilityUpdater"
    (onMapLoaded)="onMapLoaded()" [dataSources]="mapDataSources">
  </arlas-mapgl>
</div>
