.histogram{
    background: rgba(0,0,255,0);
    width: 100%;
    height: 100%;
    position: relative;
}

.histogram text {
    font-size: 0.8em;
    fill-opacity: 1;
    fill: black;
}

.histogram__description {
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 0.9em;
    line-height: 1.3;
    color: deeppink;
    opacity: 1;
    z-index: 10000;
}

.histogram__description--display{
    display: flex;
}

.histogram__description__title{
    font-family: "Roboto", "Helvetica Neue", sans-serif;
    font-size: 1.0em;
    flex: 1 1 100%;
    max-width: 40%;
    color: dodgerblue;
    opacity: 1;
    text-align: center;
    z-index: 8000;
}

.histogram__description__startvalue {
    flex: 1 1 100%;
    max-width: 30%;
}

.histogram__description__endvalue {
    flex: 1 1 100%;
    max-width: 30%;
    text-align: right;
}

.histogram__no-chart__key, .histogram__no-chart__value {
  display: block;
  text-align: center;
  padding: 5px;
}

.histogram__description__startvalue--background, .histogram__description__endvalue--background {
    background: rgba(220, 220, 220, 0.8);
}

.histogram__chart--area{
    fill: dimgrey;
    fill-opacity: 1;
    stroke: darkslategrey;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.histogram__chart--bar {
    fill: dimgrey !important;
    fill-opacity: 1;
    stroke: darkslategrey !important;
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.histogram__chart--bar__fullyselected {
    fill: brown;
    fill-opacity: 1;
    stroke: darkslategrey;
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.histogram__chart--bar__partlyselected {
    fill: orange;
    fill-opacity: 1;
    stroke: darkslategrey;
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

.histogram__tooltip{
  position: absolute;
  text-align: left;
  padding: 2px;
  font: 12px sans-serif;
  background: #043b53;
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  color: white;
  z-index: 20000;
}

.histogram__swimlane--tooltip-content {
  display: block;
}

.histogram__tooltip__circle{
  fill: darkslategrey;
  opacity: 0;
  border-radius: 5px;
}

.histogram__ticks-axis text {
  display: none;
}

.histogram__only-axis text {
  display: none;
}

.histogram__ticks-axis line {
  stroke: #B3B1B1;
}

.histogram__line-separator text {
  display: none;
}

.histogram__line-separator .domain {
  stroke: #B3B1B1;
}

.histogram__ticks-axis__hidden {
  display: none;
}

.histogram__labels-axis .domain {
  stroke-opacity: 0;
}

.histogram__labels-axis__hidden {
  display: none;
}


.selection {
  opacity: 0.6;
}

.histogram__brush--handles {
  stroke: #868686;
  fill: #868686;
  opacity: 1;
  z-index: 30000;
}

.brush:hover .histogram__brush--handles {
  display: block;
}



