<div class="histogram" [ngClass]="customizedCssClass">
    <div *ngIf="descriptionPosition === 0" class="histogram__description" [style.width.px]="chartWidth-margin.left-margin.right"
        [style.margin-left.px]="margin.left" [style.margin-right.px]="margin.right">
        <div class="histogram__description--display">
          <div class="histogram__description__startvalue"><span *ngIf="dataLength > 1" class="histogram__description__startvalue--background">{{startValue}}</span></div>
          <div class="histogram__description__title"><span *ngIf="showTitle">{{chartTitle}}</span></div>
          <div class="histogram__description__endvalue" ><span *ngIf="dataLength > 1" class="histogram__description__endvalue--background">{{endValue}}</span></div>
        </div>
    </div>

    <div [style.display] ="displaySvg">
      <svg  id="svgix" class="histogram__chart" [style.width.px]="chartWidth" [style.height.px]="chartHeight"></svg>
    </div>
    <div *ngIf="dataLength === 1" class="histogram__no-chart" [style.width.px]="chartWidth" [style.height.px]="chartHeight">
      <span class="histogram__no-chart__key">{{startValue}}</span>
      <span class="histogram__no-chart__value">{{chartTitle}} : {{inputData[0].value}}</span>
    </div>
    <div *ngIf="descriptionPosition === 1" class="histogram__description" [style.width.px]="chartWidth-margin.left-margin.right"
        [style.margin-left.px]="margin.left" [style.margin-right.px]="margin.right">
        <div class="histogram__description--display">
          <div class="histogram__description__startvalue"><span *ngIf="dataLength > 1" class="histogram__description__startvalue--background">{{startValue}}</span></div>
          <div class="histogram__description__title"><span *ngIf="showTitle">{{chartTitle}}</span></div>
          <div class="histogram__description__endvalue" ><span *ngIf="dataLength > 1" class="histogram__description__endvalue--background">{{endValue}}</span></div>
        </div>
    </div>
    <div class="histogram__tooltip" *ngIf="showTooltip" [style.left]="tooltipVerticalPosition" [style.top]="tooltipHorizontalPosition">
        {{tooltipXContent}}<br/>{{tooltipYContent}}
    </div>

    
    <div  *ngFor="let id of selectionListIntervalId" class="histogram__remove" (click)="removeSelectInterval(id)"   [style.top.px]="25" [style.left.px]="intervalSelectedMap.get(id)?.x_position">
       <svg fill="#000000" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
    <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
    <path d="M0 0h24v24H0z" fill="none"/>
</svg>
    </div>
    
</div>
