
/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

#mapgl{
    width: 100%;
    height: 100%;
    position: absolute;

}

.boxdraw /* @doc Sets the bbox style*/
{
    background: rgba(56,135,190,0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.map__layers-list--container /* @doc Sets the style of layers switcher container*/
{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 30px;
  right : 50px;
  background: white;
  padding: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.map__layers-stylegroup-name /* @doc Sets the style of Style group name*/
{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1em;
  color: #000;
  display: block;
}

.map__layers-radio-group /* @doc Sets the style of the radio-group*/
{
  display: inline-flex;
  flex-direction: column;
}

.map__layers-radio-button /* @doc Sets the style of the radio-button*/
{
  padding: 1px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.9em;
}

.map__layers-radio-button .mat-radio-label{
  margin: 0
}

.map__layers-radio-button .mat-radio-outer-circle{
  height: 15px;
  width: 15px;
}

.map__layers-radio-button .mat-radio-inner-circle{
  height: 15px;
  width: 15px;
}
.map__layers-radio-button .mat-radio-label-content {
  padding-left: 2px;
}
.map__controls__icons
{
  background-repeat: no-repeat;
  background-position: 3px 3px;

}

.map__controls__icons--removeaois
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'/> <path d='M0 0h24v24H0z' fill='none'/></svg>");
}


.map__controls__icons--addgeobox
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M19 12h-2v3h-3v2h5v-5zM7 9h3V7H5v5h2V9zm14-6H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.map__controls__icons--layersswitcher
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z'/></svg>");
}

.current-coordinate{
  position: absolute;
  right: 110px;
  bottom:26px;
}

.lat{
  float: left;
  width: 120px;
}

.lng{
  float: left;
  width: 130px;
}


