<div id="mapgl"></div>
<div class="current-coordinate" *ngIf="displayCurrentCoordinates">
  <span class="lat"> Lat : {{currentLat | number:'1.5-5'}} </span>
  <span class="lng"> Lng : {{currentLng | number:'1.5-5'}} </span>
</div>
<div *ngIf="showLayersList && displayLayerSwitcher" class="map__layers-list--container">
  <div *ngIf="basemapStyles && basemapStyles.length > 1">
    <span class="map__layers-stylegroup-name">{{'Basemaps' | translate}}</span>
    <mat-radio-group class="map__layers-radio-group" [value]="basemapStylesGroup.selectedBasemapStyle">
      <mat-radio-button class="map__layers-radio-button" [checked]="style.name == basemapStylesGroup.selectedBasemapStyle.name" (change)="onChangeBasemapStyle(style)" *ngFor="let style of basemapStyles" [value]="style">
        {{style.name | translate}}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div class="map__visu-list--wrapper">
  <div class="map_legend-button--wrapper">
    <mat-basic-chip class="map_legend-button" (click)="legendOpen=!legendOpen"
      matTooltip="{{'Show/hide map legend' | translate}}">
      <span>{{'Legend' | translate}}</span>
      <mat-icon class="primary" [class.map_legend-rotate]="legendOpen">keyboard_arrow_up</mat-icon>
    </mat-basic-chip>
  </div>
  <div [hidden]="!legendOpen" *ngIf="visualisationsSets" class="map__visu-list--container">
    <div class="map__visu-container" *ngFor="let visu of visualisationsSets.visualisations | keyvalue">
      <div class="map_visu-title-container">
        <span class="visu-title" [class.visu-title-disabled]="!visualisationsSets.status.get(visu.key)">{{visu.key}}</span>
        <mat-slide-toggle class="map_visu-toggle" [checked]="visualisationsSets.status.get(visu.key)" (change)="emitVisualisations(visu.key)"  [matTooltip]="'show_layers' | translate"></mat-slide-toggle>
      </div>
      <div class="map_visu-content-container">
        <arlas-mapgl-legend *ngFor="let l of visu.value" [enabled]="visualisationsSets.status.get(visu.key)" [layer]="getLayer(l)" [zoom]="zoom" [legendUpdater]="legendUpdater" [visibilityUpdater]= "visibilityUpdater" ></arlas-mapgl-legend>
      </div>

    </div>
  </div>
</div>
<div id="polygon-finish-draw-tooltip" class="hide_finish_draw_tooltip" [class.show_finish_draw_tooltip]="drawClickCounter>1">{{FINISH_DRAWING | translate}}</div>






