#mapgl{
    width: 100%;
    height: 100%;
    position: absolute;

}
.boxdraw /*public*/ /*Sets the bbox style*/
{
    background: rgba(56,135,190,0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.map__layers-list--container /*public*/ /*Sets the style of layers switcher container*/
{
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 10px;
  right : 50px;
  background: white;
  padding: 5px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.map__controls__icons
{
  background-repeat: no-repeat;
  background-position: 3px 3px;

}

.map__controls__icons--removegeobox
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='#000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'> <path d='M6 19c0 1.1.9 2 2 2h8c1.1 0 2-.9 2-2V7H6v12zM19 4h-3.5l-1-1h-5l-1 1H5v2h14V4z'/> <path d='M0 0h24v24H0z' fill='none'/></svg>");
}


.map__controls__icons--addgeobox
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='#000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M19 12h-2v3h-3v2h5v-5zM7 9h3V7H5v5h2V9zm14-6H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16.01H3V4.99h18v14.02z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
}

.map__controls__icons--layersswitcher
{
  background-image: url("data:image/svg+xml;utf8,<svg fill='#000000' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M0 0h24v24H0z' fill='none'/><path d='M11.99 18.54l-7.37-5.73L3 14.07l9 7 9-7-1.63-1.27-7.38 5.74zM12 16l7.36-5.73L21 9l-9-7-9 7 1.63 1.27L12 16z'/></svg>");
}

.map__layers-style {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 0.75em;
  color: grey;
}

.map__layers__form-field {
  width: 150px;
}
