<div class="powerbars-constructor-container">
    <arlas-powerbars [inputData]="powerbarsConstructors" [displayFilterField]="true" [powerbarTitle]="'First Powerbar'" [customizedCssClass]="'constructors'"></arlas-powerbars>
</div>
<div class="powerbars-constructor-container">
  <arlas-powerbars [inputData]="powerbarsCountries" [displayFilterField]="true" [customizedCssClass]="'countries'"></arlas-powerbars>
</div>
<div class="powerbars-constructor-container">
  <arlas-powerbars [inputData]="powerbarsAirlines" [powerbarTitle]="'Third Powerbar'" [useColorService]="true" [customizedCssClass]="'airlines'"></arlas-powerbars>
</div>


