#area_timeline{
    position:absolute;
    top:50px;
    right:50px;
    z-index: 1000;
}

#bars_timeline{
    position:absolute;
    top:10px;
    left:50px;
    z-index: 1001;
}

#table{
    position: fixed;
    bottom: 0;
    width: 600px;
    border: 3px solid #73AD21;
}

#graph {
  height: 100%;
}
