<!--The whole content below can be removed with the new code.-->
<arlas-histogram id="area_timeline" [xTicks]="3"  [yTicks]="2" [chartType]="'area'" [histogramType]="'histogram'" [chartTitle]="'Evolution of titres within the past 10 years'"
                 [customizedCssClass]="'histogramleft'" [chartWidth]="300" [chartHeight]="70" ></arlas-histogram>


<arlas-histogram id="bars_timeline" [xTicks]="7"  [yTicks]="2" [chartType]="'area'" [histogramType]="'histogram'" [chartTitle]="'Evolution of titres within the past 10 years'"
                 [customizedCssClass]="'histogramright'" [chartWidth]="500" [chartHeight]="100" ></arlas-histogram>
<arlas-table></arlas-table>