.resultdetaileditem /*public*/ /*Sets all texts style.*/
{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  text-align: left;
  vertical-align: middle;
}

/*'.{{group.name}}-item-detail*/ /*public*/ /*Sets a specific goup title style.*/
/*'.{{detail.key}}-item-detail*/ /*public*/ /*Sets a specific detail key style.*/

.resultdetaileditem-key /*public*/ /*Sets key style. (key: value part)*/
{
  font-weight: bold;
}

.resultdetaileditem-value /*public*/ /*Sets value style (key: value part)*/
{
  margin-right: 10px;;
}

.resultdetaileditem__actions /*public*/ /*Sets actions chips style. Moreover, if you want to style a specific action chip, you can use '{{action.id}}-action' css class.*/
{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  margin: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color:white;
  background-color: #607D8B;
}


