/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.resultdetaileditem /* @doc Sets all texts style.*/
{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  text-align: left;
  vertical-align: middle;
}

.resultdetaileditem-key /* @doc Sets key style. (key: value part)*/
{
  font-weight: bold;
}

.resultdetaileditem-value /* @doc Sets value style (key: value part)*/
{
  margin-right: 10px;;
}

.resultdetaileditem__actions /* @doc Sets actions chips style. Moreover, if you want to style a specific action chip, you can use '{{action.id}}-action' css class.*/
{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  margin: 3px;
  padding: 5px 10px;
  cursor: pointer;
  color:white;
  background-color: #607D8B;
}

.group-item-title{
  font-weight: bold;
  color: #322D90;
  font-size: 1.1em;
}

.detail-item{
  font-weight: bold;
  color: red;
}
