<div class="shortcut">
  <div class="demo">
    <arlas-metrics-table [metricsTable]="multiBarTableSameTitle" [useColorService]="false"
                         [headerDisplayMode]="'indicator'" [applyColorTo]="'row'"
                         [keysToColors]="[['pneo', 'FF0000']]"></arlas-metrics-table>
  </div>
  <div class="demo">
    <arlas-metrics-table [metricsTable]="multiBarTDiffTittle" [headerDisplayMode]="'full'" [useColorService]="true"
                         [keysToColors]="[['pneo', 'FF0000']]"></arlas-metrics-table>
  </div>
  <div class="demo">
    <arlas-metrics-table [applyColorTo]="'row'" [metricsTable]="multiBarTAllDiffTittle" [headerDisplayMode]="'full'"
                         [useColorService]="true"></arlas-metrics-table>
  </div>
  <div class="demo">
    <arlas-metrics-table [metricsTable]="multiBarTDiffTittle" [headerDisplayMode]="'full'"
                         [useColorService]="true"></arlas-metrics-table>
  </div>
</div>
