/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.resultgrid {
  width:100%;
  height:100%;
}

.resultitem-grid__actions {
  min-width: 0;
  border-radius: 50%;
  border: none;
  width: 24px;
  height: 24px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  font-size: 0;
  margin: 1px 5px;
  background-color: white;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2720%27%20height%3D%2720%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%20%3Cg%3E%20%20%3Ctitle%3Ebackground%3C%2Ftitle%3E%20%20%3Crect%20fill%3D%27%23fff%27%20id%3D%27canvas_background%27%20height%3D%2722%27%20width%3D%2722%27%20y%3D%27-1%27%20x%3D%27-1%27%2F%3E%20%20%3Cg%20display%3D%27none%27%20overflow%3D%27visible%27%20y%3D%270%27%20x%3D%270%27%20height%3D%27100%25%27%20width%3D%27100%25%27%20id%3D%27canvasGrid%27%3E%20%20%20%3Crect%20fill%3D%27url(%23gridpattern)%27%20stroke-width%3D%270%27%20y%3D%270%27%20x%3D%270%27%20height%3D%27100%25%27%20width%3D%27100%25%27%2F%3E%20%20%3C%2Fg%3E%20%3C%2Fg%3E%20%3Cg%3E%20%20%3Ctitle%3ELayer%201%3C%2Ftitle%3E%20%20%3Cellipse%20stroke%3D%27%23000000%27%20ry%3D%275.779194%27%20rx%3D%275.5%27%20id%3D%27svg_1%27%20cy%3D%2710.000004%27%20cx%3D%2710%27%20stroke-width%3D%272.5%27%20fill%3D%27%23ffffff%27%2F%3E%20%3C%2Fg%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: center;
}

.resultitem-grid__actions:active {
  border: 1px solid white;
}
.grid_actions {
  flex-direction: row-reverse;
  display: none;
  flex-wrap: wrap-reverse;
  position: absolute;
  bottom: 1px;
  right: 0;
  margin-left: 2px;
  margin-top: 2px;
}

.resultgrid__img:hover .grid_actions {
  display: flex;
  justify-content: space-between;
}

.resultgrid--container-highlight- /* @doc Sets the grid container style.*/
{
  width:100%;
  height:100%;
  margin:1px;
  background-color: #607D8B;
  position: relative;
}

.resultgrid--container-highlight-false /* @doc Sets the grid container style.*/
{
  width:100%;
  height:100%;
  margin:1px;
  background-color: #607D8B;
  position: relative;
  opacity: 0.3;
}

.resultgrid--container-highlight-true {
  width:100%;
  height:100%;
  margin:1px;
  background-color: rgba(0, 0,0, 0.075);
  position: relative;
}

.resultgrid__icon_check /* @doc Sets the checkbox icon style.*/
{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
  color:white;
  cursor: pointer;
  z-index: 5;
  user-select: none;
}

.resultgrid__img /* @doc Sets the image style.*/
{
  display: block;
  height: 80%;
  width: 100%;
  padding: 2px;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
}

.resultgrid__title-highlight- /* @doc Sets the grid title style.*/
{
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.resultgrid__title-highlight-false /* @doc Sets the grid title style.*/
{
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
  opacity: 0.3;
}

.resultgrid__title-highlight-true {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5px;
}

.fit-picture{
  object-fit: cover;
  width: 100%;
  height: 100%;
  background-color:black;
}
