.resultgrid {
  width:100%;
  height:100%;
  padding:2px;
}

.resultgrid--container-hover-false {
  width:100%;
  height:100%;
  margin:1px;
  background-color: #043b53;
  position: relative;
}
.resultgrid--container-hover-true {
  width:100%;
  height:100%;
  margin:1px;
  background-color: rgba(0, 0,0, 0.075);
  position: relative;
}

.resultgrid__icon_check{
  position: absolute;
  top: 5px;
  left: 5px;
    font-size: 15px;
  width: 15px;
  height: 15px;
  color:#043B53;
}

.resultgrid__img {
  display: block;
  height: 80%;
  width: 100%;
  padding: 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

.resultgrid__title {
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-weight: bold;
  font-size: 0.9em;
  text-align: left;
  margin: 5px 0 0 5px;
}
