/*
 * Licensed to Gisaïa under one or more contributor
 * license agreements. See the NOTICE.txt file distributed with
 * this work for additional information regarding copyright
 * ownership. Gisaïa licenses this file to you under
 * the Apache License, Version 2.0 (the "License"); you may
 * not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *    http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.resultgrid {
  width:100%;
  height:100%;
  padding:2px;
}

.resultgrid--container-highlight-false /* @doc Sets the grid container style.*/
{
  width:100%;
  height:100%;
  margin:1px;
  background-color: #607D8B;
  position: relative;
}

.resultgrid--container-highlight-true {
  width:100%;
  height:100%;
  margin:1px;
  background-color: rgba(0, 0,0, 0.075);
  position: relative;
}

.resultgrid__icon_check /* @doc Sets the checkbox icon style.*/
{
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 15px;
  width: 15px;
  height: 15px;
  color:white;
  cursor: pointer;
}

.resultgrid__img /* @doc Sets the image style.*/
{
  display: block;
  height: 80%;
  width: 100%;
  padding: 2px;
  background-position: center center;
  background-repeat: no-repeat;
}

.resultgrid__title-highlight-false /* @doc Sets the grid title style.*/
{
  color: #fff;
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  text-align: left;
  margin: 5px 0 0 5px;
}
.resultgrid__title-highlight-true {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.9em;
  text-align: left;
  margin: 5px 0 0 5px;
}
