.resultitem__cell{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.8em;
  text-align: left;
  vertical-align: middle;
}

.resultitem__cell__toggle {
  float: right;
}

.resultitem__cell__toggle--icon {
  font-size:18px;
}
