.resultitem__cell{
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  font-size: 0.7em;
  text-align: left;
  vertical-align: middle;
}

.resultitem__cell__toggle {
  float: right;
}

.resultitem__cell__toggle--icon /* @doc Sets the toggle icon style.*/
{
  font-size:18px;
  margin-right: 5px;
  display: block;
  cursor: pointer;
}

.resultitem__cell--label /* @doc Sets labels style.*/
{
  margin:0;
}

.resultitem__icon_check /* @doc Sets the checkbox icon style.*/
{
  float: right;
  font-size: 15px;
  width: 15px;
  height: 15px;
  cursor: pointer;
}
