/* You can add global styles to this file, and also import other style files */
@import '../node_modules/leaflet/dist/leaflet.css';
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../node_modules/font-awesome/css/font-awesome.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import   '../node_modules/mapbox-gl/dist/mapbox-gl.css';

.constructors .powerbar__powerbar--progression--neutral-state, .constructors .powerbar__powerbar--progression--selected-bar{
  background-color: rgb(255, 243, 137) !important;
}

.histogram__area .histogram__chart--area{
  fill: #FFC107;
  fill-opacity: 1;
  stroke: #C49D28;
  stroke-width: 1px;
  stroke-opacity: 1;
}

.histogram__area .histogram__chart--bar__fullyselected {
  fill: #FFC107;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

.histogram__area .histogram__chart--bar__partlyselected {
  fill: #FFC107;
  fill-opacity: 1;
  stroke: none;
  stroke-width: 0.5px;
  stroke-opacity: 1;
}

.histogram__area .histogram__chart--bar {
  fill: rgb(140, 140, 140);
  fill-opacity: 1;
  stroke-opacity: 0.1;
}

.histogram__area .histogram__description__startvalue--background,
.histogram__area .histogram__description__endvalue--background{
  background-color: white;
}

.histogram__area .histogram__swimlane-height--tick {
  stroke: black;
}

.histogram__area .histogram__description__startvalue,
.histogram__area .histogram__description__endvalue{
  color: #4CA3EB;
  }

.histogram__area .histogram__ticks{
  stroke: #757575;
  stroke-width: 1px;
}

.histogram__area .histogram__axis{
  stroke: #757575;
  stroke-width: 1px;
}

.histogram__area .tick text{
  fill: #757575;
  font-size: 0.9em;
}

.histogram__area .histogram__brush--handles {
  stroke: #757575;
  fill: #757575;
}


a.arlas-map-control{
    background-color: green;
}

.one_dimension .histogram__axis {
  stroke: white ;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('./assets/font/material-icons.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.arlas-gl-geobox-chip {
  background-color: #043B53;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: 50px!important;
  right:15px!important;
  z-index: 1000;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.arlas-gl-circle-chip {
  display: none;
  background-color: #043B53;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: 85px!important;
  right:15px!important;
  z-index: 1000;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}
.arlas-gl-geohash-chip {
  display: none;
  background-color: #043B53;
  color: white;
  cursor: pointer;
  font-size: 0.8em;
  position: absolute;
  top: 120px!important;
  right:15px!important;
  z-index: 1000;
  height: 30px;
  padding-top: 5px;
  padding-left: 8px;
  padding-right: 8px;
}


.arlas-gl-toggle{
  top: 85px!important;
  right:15px!important;
  z-index: 1000;
    position: absolute;
      color:#043B53;


}
.boxdraw {
    background: rgba(56,135,190,0.1);
    border: 2px solid #3887be;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}
.mapboxgl-ctrl-compass{
        border-bottom: 1px solid #ddd !important;
}


.mapboxgl-ctrl-pitch{
        border-bottom: 1px solid #ddd !important;
}

.mapboxgl-ctrl-group {
    border-radius: 4px 4px 0px 0px!important;
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.1)!important;
    overflow: hidden;
    background: #fff;
}

.mapboxgl-ctrl-group-pitch {
margin-top: 0px!important;
    border-radius: 0px 0px 4px 4px!important;;

}

.mapboxgl-ctrl-group-removegeobox {
    margin-top: 0px!important;
    border-radius: 0px 0px 4px 4px!important;;
    box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1)!important;
}
.mapboxgl-ctrl-group-addgeobox {
    border-radius: 4px 4px 0px 0px!important;;
}
