<div id="{{id}}" class="donut__container" [ngClass]="customizedCssClass">
  <svg id="svgix"></svg>
  <div class="donut__tooltip" *ngIf="donut.donutParams.tooltip.isShown && !donut.donutParams.tooltip.isRightSide" [style.left.px]="donut.donutParams.tooltip.xPosition" [style.top.px]="donut.donutParams.tooltip.yPosition">
    <span >{{donut.donutParams.tooltip.xContent}} {{unit | translate}}</span>
  </div>
  <div class="donut__tooltip" *ngIf="donut.donutParams.tooltip.isShown && donut.donutParams.tooltip.isRightSide" [style.right.px]="donut.donutParams.tooltip.xPosition" [style.top.px]="donut.donutParams.tooltip.yPosition">
    <span >{{donut.donutParams.tooltip.xContent}} {{unit | translate}}</span>
  </div>
</div>
