.layer_wrapper {
  margin-bottom: 3px;
  border-top: .4px #eaeaea solid;
  margin-top: 3px;
  padding-top: 5px;
}
.layer_container {
  display: flex;
  position: relative;
}
.layer_detail {
  position: absolute;
}
.detail_button {
  background-color: #fff;
  display: none;
  height: 20px;
  width: 20px;
  position: relative;
}
.detail_icon {
  color: #555;
  font-size: 1.3em;
  position: absolute;
  top: 2px;
  left: 1px;
  width: 20px;
  height: 20px;
}
.layer_name{
  font-size: 0.8em;
}

.layer_icon {
  margin-right: 5px;
}

.layer_icon:hover .detail_button {
  display: block;
}
.manual-color-value {
  width: 20px;
  height: 20px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

.interpolated-color-container {
  height: 100%;
}

.interpolated-color-palette {
  height: 5px;
  border-radius: 2px;
}

.interpolated-width-container {
  height: 15px;
}

.width-legend-svg {
  fill: #dadada !important;
  stroke: #dadada !important;
}
.interpolated-radius-container {
  height: 20px;
}
.legend-wrapper {
  width: 210px;
}
.legend-container {
  display: block;
  margin-top: 5px;
}
.legend-title {
  text-align: center;
  font-size: 0.75em;
}

.interpolated-values-container {
  display: flex;
  justify-content: space-between;
}

.interpolated-value {
  font-size: 0.6em;
}
