<div>
  <div *ngIf="colorType === PROPERTY_SELECTOR_SOURCE.manual">
    <div class="manual-color-container" *ngFor="let manualColor of manualColors | keyvalue">
      <div class="manual-color">
        <div class="manual-color-value" [style.backgroundColor]="manualColor.value"></div>
        <div class="manual-color-key">{{manualColor.key}}</div>
      </div>
    </div>
  </div>
  <div *ngIf="colorType === PROPERTY_SELECTOR_SOURCE.interpolated">
    <div class="interpolated-color-container">
      <div class="interpolated-color-palette" [ngStyle]="{'background': 'linear-gradient(to right, ' + interpolatedColors.join(',') + ')'}"></div>
    </div>
  </div>
  <div [hidden]="widthType !== PROPERTY_SELECTOR_SOURCE.interpolated">
    <div class="interpolated-width-container">
      <svg #width_svg></svg>
    </div>
  </div>

</div>
