<div class="histogram" [ngClass]="startEndValuesColor">
    <div id="timeline_title_id" class="histogram__title"><span>{{chartTitle}}</span></div>
    <svg id="svgix" class="histogram__chart" width="300" height="100"></svg>
    <div class="histogram__brushvalues" width="500">
        <span class="histogram__brushvalues__start" >{{startValue}}</span>
        <span [ngClass]="'histogram__brushvalues__end'">{{endValue}}</span>
    </div>
    <div *ngIf="showTooltip" class="histogram__tooltip" [style.left]="tooltipVerticalPosition" [style.top]="tooltipHorizontalPosition">
          {{tooltipXContent}}<br/>{{tooltipYContent}}
    </div>
</div>
