.timeline_div{
    background: rgba(0,0,255,0);
}
.timeline_title{
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    font-size: 1.0em;
    width: 100%;
    color: dodgerblue;
    opacity: 1;
    text-align: center;
    position: absolute;
    bottom:0;
    left:15px;
    z-index: 8000 !important;
}

#tooltip {
    margin-left: 60px;
    margin-right: 20px;
}

text {
    font-size: 0.8em;
    fill-opacity: 1;
    fill: darkslategrey;
}

#tooltip span {
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    font-size: 0.9em;
    line-height: 1.3;
    color: deeppink;
    opacity: 1;
    z-index: 10000 !important;
    background: rgba(220, 220, 220, 0.8);
}

#start.small {
    font-size: 0.9em;
}

#end.small {
    font-size: 0.9em;
}

#end {
    font-family: "Roboto", "Helvetica Neue", sans-serif !important;
    float: right;
    font-size: 0.9em;
}

.area {
    fill: dimgrey;
    fill-opacity: 1;
    stroke: darkslategrey;
    stroke-width: 2px;
    stroke-opacity: 1;
}

.bar {
    fill: dimgrey;
    fill-opacity: 1;
    stroke: darkslategrey;
    stroke-width: 0.5px;
    stroke-opacity: 1;
}

